spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartcheck
    username: postgres
    password: sipirili
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        generate_statistics: false
        dialect: org.hibernate.dialect.PostgreSQL95Dialect
        jdbc:
          lob:
            non_contextual_creation: true
jwt.secretKey: "StrawberryFieldsForever"
