<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div [ngClass]="{
        'card': true,
        'text-white': true,
        'bg-danger': tipoCheck === 'SALIDA',
        'bg-success': tipoCheck === 'ENTRADA',
        'bg-info': tipoCheck === ''
      }">
        <div class="card-body pb-0">
          <!--<div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>-->
          <button type="button" class="btn btn-transparent p-0 float-right"
                  (click)="enviarCheck()"
                  [disabled]="checkDisabled">
            <i class="cui-check"></i>
          </button>
          <div class="text-value">Check</div>
          <div>{{tipoCheck}}</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="barChart1Data"
                  [labels]="barChart1Labels"
                  [options]="barChart1Options"
                  [colors]="barChart1Colours"
                  [legend]="barChart1Legend"
                  [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Información
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Hora de entrada de hoy</small>
                    <br>
                    <strong class="h4">{{horaEntrada}}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
            </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Hora de salida de hoy</small>
                    <br>
                    <strong class="h4">{{horaSalida}}</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
            </div><!--/.col-->
          </div><!--/.row-->
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
